body{

    background-image: url("../public/img/Fondo Principal.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed;
    
}